:root {
  --page-bg-color: #ffffff;
  --img-bg-color: #eeeeee;
  --footer-color: #2f303a;
  --color-of-headers: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #2196f3;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-of-headers);
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.page-header a {
  text-decoration: none;
}

.site-nav,
.contact,
.logo {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav > li {
  margin-left: 50px;
}

.contact > li {
  margin-left: 50px;
}

.site-nav a {
  color: var(--color-of-headers);
}

.contact a {
  color: var(--text-color);
}
