:root {
  --page-bg-color: #ffffff;
  --img-bg-color: #eeeeee;
  --footer-color: #2f303a;
  --color-of-headers: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #2196f3;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-of-headers);
}
/* header */

/* navigation */

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  font-size: 26px;
  line-height: 31px;
  line-height: 100%;
  color: var(--color-of-headers);
}

span {
  color: var(--logo-color);
}

.site-nav a {
  color: var(--color-of-headers);
  font-style: medium;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav a:active {
  color: var(--accent-color);
}
/* contact */

.contact > li {
  font-style: Medium;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  margin-left: 50px;
}

.contact a {
  color: var(--text-color);
}

.contact a:hover,
.contact a:focus {
  color: var(--accent-color);
}

.studio:hover,
.studio:focus {
  color: var(--accent-color);
}

.portfolio:hover,
.portfolio:focus {
  color: var(--accent-color);
}
