:root {
  --page-bg-color: #ffffff;
  --img-bg-color: #eeeeee;
  --footer-color: #2f303a;
  --color-of-headers: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #2196f3;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-of-headers);
}

/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 31px;
  line-height: 100%;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: var(--color-of-headers);
  text-decoration: none;
}

span {
  color: var(--logo-color);
}

/* navigation */
.site-nav,
.contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav a {
  color: var(--color-of-headers);
  font-style: medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  line-height: 100%;
  vertical-align: top;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav a:active {
  color: var(--accent-color);
}

/* contact */
.contact a {
  font-style: Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}

.contact a:hover,
.contact a:focus {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  margin: 0;
}

.button {
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
